{% extends "base.html" %}
{% import 'calwidget.html' as calwidget %}
{% block title %}{{ name }}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

        {% block header %}
<div class="HeaderLogo" >
<table width="100%">
	<tr>
		<td width="5%"></td>
		<td>
			<img src="{{styleDir}}/CathedralSchool_Logo_Horizontal_White.png" width="401" height="118">
		</td>
		<td><div class="pageTitle" > {{ program.title }}: Calendar</div></td>
		</tr>
		<tr><td><a href="index.html">Home</a></td>
	</tr>
</table>
</div>

  {{ calwidget.body(grid,1) }}


{% endblock %}