{% macro body(grid,showKey) -%}
<div class="videoArea" >

		<table  class="calendar">
		
		   	{% for week in grid%}
		   		<tr  class="calendar">
		   			{% for day in week%}
		   			<td  class="calendar" width="10%">
		   			<div class="calHeader" >{{ day.date }}</div>
		   			{% if day.lessons|length + day.resources|length > 0 %}
		   			<div class="calBody">
		   				{% if day.lessons|length * day.resources|length > 0 %}Videos{% endif %}
		   				<ul>
		   				{% for key, value in day.lessons.items() %}
		   					 {% for x  in value %}<li><a class="calendar" href="{% if showKey > 0 %}{{ key }}/{% endif %}vid_{{ x.key }}.html"> {{ x.name }} </a></li>{% endfor %}{% endfor %}
		   				</ul>
		   					
		   			 {% if day.lessons|length * day.resources|length > 0 %}Resources{% endif %}
		   				<ul>
		   				{% for key, value in day.resources.items() %}
		   					 {% for x  in value %}<li><a class="calendar" href="{% if showKey > 0 %}{{ key }}/{% endif %}{{ x.fileName }}"> {{ x.name }} </a> </li>{% endfor %}{% endfor %}
		   				</ul>
		   			</div>
					{% endif %}
		   			</td>
		   			{% endfor %}
		   	</tr>
      		{% endfor %}
   		</table>

</div>

{% endmacro %}