{% extends "base.html" %}
{% block title %}{{ name }}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}



        {% block header %}
<div class="HeaderLogo" >
<table>
	<tr>
		<td width="5%"></td>
		<td>
			<img src="CathedralSchool_Logo_Horizontal_White.png" width="401" height="118">
		</td>
	</tr>
</table>
</div>
        {% endblock %}
        
{% block content %}
    <h1>Subjects</h1>
    <p class="important">
    <ul>
     {% for item in seq %}
    	<li><a href="{{ item.name }}/index.html">{{ item.name }}</a>  </li>
{% endfor %}
	</ul>
    </p>
{% endblock %}