{% extends "base.html" %}
{% block title %}{{ name }}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}



        {% block header %}
<div class="HeaderLogo" >
<table width="100%">
	<tr>
		<td width="5%"></td>
		<td>
			<img src="{{styleDir}}/CathedralSchool_Logo_Horizontal_White.png" width="401" height="118">
		</td>
		<td><div class="pageTitle" >{{ program.title }} Distance Learning</div></td>
		</tr>
		<tr><td><b>Home</b><td><td><a href="Calendar.html">Calendar</a></td>
	</tr>
</table>
</div>
        {% endblock %}
        
{% block content %}
    <h1>Subjects</h1>
    <p class="important">
    <ul>
     {% for item in seq %}
    	<li><a href="{{ item.name }}/index.html">{{ item.title }}</a>  </li>
{% endfor %}
	</ul>
    </p>
{% endblock %}