{% extends "base.html" %}
{% block title %}{{ name }}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

        {% block header %}
<div class="HeaderLogo" >
<table width="100%">
	<tr>
		<td width="5%"></td>
		<td>
			<img src="{{styleDir}}/CathedralSchool_Logo_Horizontal_White.png" width="401" height="118">
		</td>
		<td><div class="pageTitle" > {{ program.name }} {{ item.name }}</div></td>
		</tr>
		<tr><td><a href="../index.html">Home</a></td>
	</tr>
</table>
</div>
        {% endblock %}
        
{% block content %}
  
    <p class="important">
    
    <h3>Videos</h3>
    <ul>
     {% for less in videos %}
    	<li><p class="videoLabel">{{ less.name }}</p> 
    	<video  controls>
  <source src="{{ resDir }}/{{ program.name }}/{{ item.name }}/{{ less.fileName }}" type="video/mp4">
Your browser does not support the video tag.
</video>

    	 </li>
{% endfor %}
	</ul>
	<h3>Resources</h3>
    <ul>
     {% for less in res %}
    	<li>
    	<a href="{{ resDir }}/{{ program.name }}/{{ item.name }}/{{ less.fileName }}">
{{ less.name }}
</a>

    	 </li>
{% endfor %}
	</ul>
    </p>
{% endblock %}